// out: zad_04.css

@border: thin solid blue;

body {
  background-color: silver;
}

div.adres {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    background-color: yellow;
    border: 3px solid black;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

span.nazwisko {
    display: block;
    font-weight: bold;
    border-bottom: @border;
    border-top: @border;
    color: blue;
}

span.ulica {
    display: block;
    color: green;
}

span.kod {
  color: brown;
}

span.miejscowosc {
}

span.telefon {
    display: block;
}
