body {
  background-color: silver;
}
body .A {
  position: absolute;
  text-align: center;
  background-color: yellow;
  border: 3px solid red;
  top: 36%;
  left: 20%;
  height: 18%;
  width: 40%;
}
body .B {
  position: absolute;
  text-align: center;
  background-color: white;
  border: 3px solid blue;
  right: 20%;
  bottom: 36%;
  height: 18%;
  width: 40%;
}
.center-text {
  text-align: center;
}
.box-size {
  height: 18%;
  width: 40%;
}
