// out: zad_01.css

@h: 18%;
@w: 40%;
@position: absolute;
@lr: 20%;
@tb: 36%;

body {
  background-color: silver;

  .A {
    position: @position;
    .center-text;
    .color-and-border(yellow, red);
    top: @tb;
    left: @lr;
    .box-size;
  }

  .B {
    position: @position;
    .center-text;
    .color-and-border(white, blue);
    right: @lr;
    bottom: @tb;
    .box-size;
  }
}

.center-text {
  text-align: center;
}

.box-size {
  height: @h;
  width: @w;
}

.color-and-border(@color, @border) {
  background-color: @color;
  border: 3px solid @border;
}
