<% include partials/header %>

  <body>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="text-center">
        <h1><%= error.status %>: <%= message %></h1>
        <pre><%= error.stack %></pre>
        <a href="/" class="btn btn-default"> Home</a>
      </div>
    </div>
  </body>

  <% include partials/footer %>
</html>
