<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">
      <h1 class="mainHeader">
          Witaj na <span class="appTitle">Micro eBay</span>
      </h1>

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-10">
                <h3>Witaj!</h3>
                <p style="text-align:justify;margin: 10px 50px;">
                    Zaloguj się, jeśli chcesz wziąć udział w aukcjach. Jeżeli chcesz
                    tylko poprzeglądać dostępne oferty, przejdź do odpowiedniej sekcji
                    klikając na "Aukcje" w menu po lewej stronie.
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
