// out: zad_03.css

@pixels: 25px;

body {
  background-image: url("listki.gif");
  background-repeat: repeat-y;
}

.tresc {
  margin-left: 5 * @pixels;
  border: 3px solid black;
  margin-right: @pixels;
  margin-top: @pixels;
  padding: @pixels;
  text-align: justify;
  text-indent: @pixels - 10px;
}

img {
  float: left;
}
