body {
  background-image: url("listki.gif");
  background-repeat: repeat-y;
}
.tresc {
  margin-left: 125px;
  border: 3px solid black;
  margin-right: 25px;
  margin-top: 25px;
  padding: 25px;
  text-align: justify;
  text-indent: 15px;
}
img {
  float: left;
}
