body
{
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tabela
{
  border-collapse: collapse;
  tr
  {
    td
    {
      border: 4px solid blue;
      user-select: none;
      padding: 5px;
      width: 150px;
    }
  }
}

.yellow
{
  background: yellow;
}

.textField
{
  background-color: whitesmoke;
  border: 3px inset darkblue;
  box-shadow: 3px 5px 4px black;
}
