<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Socket.io Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/main.min.css">
</head>
<body>
  <div class="flexbox">
    <div class="container">
      <div>
          <h1 class="title">Socket.io Chat</h1>
          <h3 class="title">Hello <span id="username"></span></h3>
          <h5 class="title">Choose your channel</h5>
          <!-- Channel list -->
          <ul id="channel-list"></ul>
          <div id="channel-buttons" class="flexbox">
            <div>
              <button id="join-button"
                      type="button"
                      name="button">
                  Enter
              </button>
            </div>
            <div>
              <button id="create-button"
                      type="button"
                      name="button">
                  New
              </button>
            </div>
          </div>
      </div>
      <div id="chat-window">
        <div>
          <ul id="messages-list"></ul>
        </div>
        <div id="send-message">
            <form id="send-message-form">
              <input  type="text"
                      id="send-message-input"
                      autocomplete="off"
                      placeholder="Type your message here..." />
            </form>
            <button id="send-message-button"
                    type="button"
                    name="button">
                Send
            </button>
        </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery.min.js"></script>
  <script src="doT.js"></script>
  <script src="lodash.js"></script>
  <script src="/min/moment.min.js"></script>

  <script id="channel-list-item">
    <li id="{{=it.id}}" class="channel">
        <span class="channel-name">{{=it.name}}</span>
        <span class="status"></span>
    </li>
  </script>

  <script id="my-message">
    <li class="message-item my-message">
      <span class="sender">{{=it.from}}</span>
      <span class="message">{{=it.body}}</span>
      <span class="time">{{=it.time}}</span>
    </li>
  </script>

  <script id="their-message">
    <li class="message-item their-message">
      <span class="sender">{{=it.from}}</span>
      <span class="message">{{=it.body}}</span>
      <span class="time">{{=it.time}}</span>
    </li>
  </script>

  <script src="js/skrypt.js"></script>

</body>
</html>
