// out: zad_09.css

@menu-margins: -8px;
@pixels: 25px;

body {
  background-color: silver;
}

#menu {
  background-color: darken(whitesmoke, 5%);
  border: 3px outset black;
  text-align: center;
  padding: 5px;
  margin-left: @menu-margins;
  margin-top: @menu-margins;
  width: 100%;

  .el_menu {
    padding-left: @pixels / 10;
    padding-right: @pixels / 10;
  }
}

#tresc {
  margin-top: @pixels;
}
