// out: zad_02.css

@color1: maroon;
@color2: black;

body {
  background-color: silver;

  #menu {
    position: fixed;
    background-color: gainsboro;
    border-color: @color2;
    text-align: center;
    border-style: outset;
    padding: 5px;
    margin-top: -5px;
    margin-left: -5px;
    width: 100%;

    .el_menu {
      a:link {
        padding: 3px;
        text-decoration: none;
        display: inline-flex;
        border-style: outset;
        .link-color;
      }

      a:hover {
        background-color: white;
        border-style: inset;
      }

      a:visited {
        .link-color;
      }
    }
  }

  #tresc {
    position: fixed;
    overflow: scroll;
    height: 100%;
    margin-top: 45px;
  }
}

.link-color {
  color: @color1;
  border-color: @color2;
}
