// out: ../../public/css/style.css, compress: true

@color: darken(forestgreen, 10%);

.maxSize
{
  .size(100%, 100%);
}

html
{
  .maxSize;
  body
  {
    background-color: silver;
    margin: 0;
    .maxSize;
  }
}

.flexbox
{
  .maxSize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #mainContent
  {
    .colors(lighten(@color, 65%), black);
    border-radius: 10px;
    max-height: 450px;
    box-shadow: 5px 10px 8px dimgray;
    #instructions
    {
      table
      {
        margin-top: 15px;
        width: 100%;
        border-collapse: collapse;
        font-size: smaller;
        tr
        {
          background-color: lighten(@color, 60%);
          th, td
          {
            padding: 5px;
            text-align: left;
            border-bottom: 1px solid darken(@color, 15%);
          }
          th
          {
            background-color: darken(@color, 5%);
            color: whitesmoke;
          }
          th:nth-child(1)
          {
            border-top-left-radius: 10px;
          }
          th:nth-child(2)
          {
            border-top-right-radius: 10px;
          }
          td
          {
            // ...
          }

          &:hover:not(:nth-child(1))
          {
            background-color: darken(lighten(@color, 60%), 10%);
            color: darken(whitesmoke, 75%);
            font-style: italic;
          }
        }
      }
    }
  }
  .wrapper
  {
    padding: 25px;
    #previousMarks
    {
      display: block;
      min-height: 100px;
      max-height: 100px;
      overflow-y: scroll;
      border: 1px solid @color;
      background-color: lighten(@color, 55%);
      padding: 10px;

      .markValues
      {
        border-bottom: 1px solid lighten(@color, 40%);
        margin-bottom: 5px;
      }
    }
    #triesInfo
    {
      margin-top: 15px;
    }
    .row
    {
      display: flex;
      flex-direction: row;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      .rowElement
      {
        margin-left: 5px;
        margin-right: 5px;
        input
        {
          background-color: whitesmoke;
          transition: 0.2s;
          &:focus
          {
            background-color: lighten(@color, 60%);
            transition: 0.2s;
          }
        }
        select
        {
          .size(100px, 25px);
          .colors(lighten(@color, 55%), @color);
        }
        .answerInput
        {
          width: 25px;
          text-align: center;
        }
      }
    }
    .mainHeader
    {
      text-align: center;
      .appTitle
      {
        font-weight: bold;
        font-style: italic;
        color: darken(@color, 5%);
      }
    }
  }
}

.myButton
{
  margin-top: 10px;
  .size(100%, 35px);
  .colors(lighten(@color, 40%), darken(@color, 10%));
  font-weight: bold;
  font-size: 20px;
  border-radius: 25px;
  transition: 0.2s;
  &:hover
  {
    .colors(darken(@color, 10%), lighten(@color, 40%));
    transition: 0.2s;
  }
}

.myButtonDisabled
{
  .colors(dimgray, silver);
  .size(50%, 25px);
  font-size: 10px;
  &:hover
  {
    .colors(silver, dimgray);
    cursor: not-allowed;
  }
}

.size(@width, @height)
{
  width: @width;
  height: @height;
}

.colors(@back, @front)
{
  background-color: @back;
  color: @front;
  border: 3px outset @front;
}
