<div class="flexbox">
    <h1 class="mainHeader">
        Here is your <span class="appTitle"><%= title %></span>
    </h1>
    <div class="wrapper">
      <div id="previousMarks"></div>
      <div id="playground" class="row">
        <label>Your answer:</label>
        <% for (var i = 0; i < size; i++) { %>
          <div class="rowElement">
            <input  type="text"
                    id="number<%=i%>"
                    class="answerInput"
                    pattern="[0-9]*"
                    placeholder="0"/>
          </div>
        <% } %>
      </div>
      <div id="triesInfo" class="row">
        <label for="sizeValue" class="rowElement">Tries left:</label>
        <div id="triesLeft" class="rowElement">
            <% if (max !== "0") { %>
                <%= max %>
            <% } else { %>
                No limit
            <% } %>
        </div>
      </div>
    </div>
    <input id="guessButton" class="myButton" type="submit" value="Take a guess!">
</div>
