<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <div class="flexbox">
      <div id="mainContent" class="wrapper">
        <h1 class="mainHeader">
            Welcome to <span class="appTitle"><%= title %></span>
        </h1>
        <div class="row">
          <div class="rowElement">
            <input type="text" id="sizeValue" pattern="[0-9]*" placeholder="Size"/>
          </div>
          <div class="rowElement">
            <input type="text" id="dimValue" pattern="[0-9]*" placeholder="Dimensions"/>
          </div>
          <div class="rowElement">
            <label for="levelValue">Level</label>
            <select id="levelValue">
              <option value="<%= level.practice.triesNum %>"><%= level.practice.name %></option>
              <option value="<%= level.easy.triesNum %>"><%= level.easy.name %></option>
              <option value="<%= level.medium.triesNum %>"><%= level.medium.name %></option>
              <option value="<%= level.hard.triesNum %>"><%= level.hard.name %></option>
              <option value="<%= level.expert.triesNum %>"><%= level.expert.name %></option>
            </select>
          </div>
        </div>
        <div id="instructions">
            <table>
                <tr><th>Level</th><th>Tries</th></tr>
                <tr><td><%= level.practice.name %></td><td><%= level.practice.tries %></td></tr>
                <tr><td><%= level.easy.name %></td><td><%= level.easy.tries %></td></tr>
                <tr><td><%= level.medium.name %></td><td><%= level.medium.tries %></td></tr>
                <tr><td><%= level.hard.name %></td><td><%= level.hard.tries %></td></tr>
                <tr><td><%= level.expert.name %></td><td><%= level.expert.tries %></td></tr>
            </table>
        </div>
        <input id="playButton" class="myButton" type="submit" value="Play">
      </div>
    </div>
  </body>
</html>
