<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">
      <h1 class="mainHeader">
          Stwórz nową <span class="appTitle">Aukcję</span>
      </h1>

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-10">
                <div class="container">
                  <form action="/auctions/save" method="post">
                    <table>
                      <tbody>
                        <tr>
                          <td>Tytuł</td>
                          <td><input type="text" name="title" required /></td>
                        </tr>
                        <tr>
                          <td>Typ</td>
                          <td>
                              <select name="type">
                                  <option>Kup teraz!</option>
                                  <option>Licytacja</option>
                              </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Cena [PLN]</td>
                          <td><input type="number" name="price" step="0.01" min="1" required /></td>
                        </tr>
                        <tr>
                            <td>Opis</td>
                            <td><textarea type="text" name="description" ></textarea></td>
                        </tr>
                        <tr>
                          <td colspan="2"><input type="submit" value="Zapisz" /></td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
