<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">
      <h1 class="mainHeader">
          Edycja <span class="appTitle">Aukcji</span>
      </h1>

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-10">
                <div class="container">
                  <form   action="/auctions/update/<%= auction._id %>"
                          method="post">
                    <table>
                      <tbody>
                        <tr>
                          <td>Tytuł</td>
                          <td><input type="text" name="title" value="<%= auction.title %>" /></td>
                        </tr>
                        <!-- <tr>
                          <td>Typ</td>
                          <td>
                              <select id="type" name="type">
                                  <option>Kup teraz!</option>
                                  <option>Licytacja</option>
                              </select>
                              <script>
                                  if ("<%= auction.type %>" == "Kup teraz!")
                                      document.getElementById("type").selectedIndex = "0";
                                  else if ("<%= auction.type %>" == "Licytacja")
                                      document.getElementById("type").selectedIndex = "1";
                              </script>
                          </td>
                        </tr> -->
                        <tr>
                          <td>Cena [PLN]</td>
                          <td><input type="number" name="price" step="0.01" min="1" value="<%= auction.price %>" /></td>
                        </tr>
                        <tr>
                          <td>Data dodania</td>
                          <td><input type="text" name="createDate" value="<%= auction.createDate %>" readonly="readonly" /></td>
                        </tr>
                        <tr>
                          <td>Data wygaśnięcia</td>
                          <td><input type="text" name="expireDate" value="<%= auction.expireDate %>" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>Opis</td>
                            <td><textarea type="text" name="description"><%= auction.description %></textarea></td>
                        </tr>
                        <tr>
                          <td colspan="2"><button type="submit">ZAKTUALIZUJ</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
