<% include ../partials/header %>

  <main id="mainContent">
    <h1 class="mainHeader">
      Przeglądaj <span class="appTitle">Aukcje</span>
    </h1>
    <div class="containter-fluid">
        <div class="row">

          <% include ../partials/menu %>

          <div class="col-sm-10">
              <div id="pageNumber">
                  Strona
                  <span id="currentPage"><%= !isNaN(pageInfo.page) ? pageInfo.page : 1 %></span>
                  z
                  <span id="pagesCount"><%= pageInfo.pages %></span>
              </div>
              <button class="col-sm-1" id="pageLeft">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <!-- guzik lewo -->
              </button>
              <%
                if (auctions.length > 0)
                {
              %>
              <div id="auctionList">
              <%
                  for (let i = 0; i < auctions.length; i++)
                  {
              %>
                  <div class="col-sm-2 auction">
                      <img src="/images/auction.png" alt="Auction">
                      <span class="auctionTitle">
                          <span class="glyphicon glyphicon-shopping-cart"></span>
                          <abbr title="<%= auctions[i].description ? auctions[i].description : 'Brak opisu.' %>">
                              <a href="/auctions/show/<%= auctions[i]._id %>"><%= auctions[i].title %></a>
                          </abbr>
                      </span>
                      <span class="auctionAuthor">
                          <abbr title="<%= auctions[i].author %>">
                              <%= auctions[i].author.split("@")[0] %>
                          </abbr>
                      </span>
                      <span class="auctionType"><%= auctions[i].type %></span>
                      <span class="auctionPrice price"><%= auctions[i].price %></span>
                      <span class="auctionCreateDate createDate"><%= auctions[i].createDate %></span>
                      <span class="auctionExpireDate expireDate"><%= auctions[i].expireDate %></span>
                      <span class="auctionIsAvailable isAvailable"><%= auctions[i].isAvailable %></span>
                      <!-- <span class="auctionDescription"><%= auctions[i].description %></span> -->
                      <%
                          if(auctions[i].buyer.hasOwnProperty("email"))
                          {
                              if(auctions[i].buyer.email != null && auctions[i].buyer.email != "")
                              {
                      %>
                              <span class="sold">SPRZEDANE!</span>
                      <%
                              }
                          }
                      %>
                  </div>
              <%
                }
              %>
              </div>
              <%
                } else {
              %>
                    <div class="col-sm-10 noAuctions">Nie znaleziono żadnych aukcji.</div>
              <%
                }
              %>
              <button class="col-sm-1" id="pageRight">
                  <!-- guzik prawo -->
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
          </div>
        </div>
    </div>
    <%
        if (session.activeUser != null)
        {
    %>
        <form action="/auctions/create">
            <button id="addAuctionButton"
                    class="btn btn-success"
                    type="submit">
                <span class="glyphicon glyphicon-plus"></span>
                Dodaj nową aukcję
            </button>
        </form>
    <%
        }
    %>
  </main>

    <% include ../partials/footer %>
  </body>
</html>
