<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">
      <h1 class="mainHeader">
          Przejrzyj swoje <span class="appTitle">Wiadomości</span>
      </h1>

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-10">
                <ul style="padding-top:10px;">
                <%
                    let counter = 0;
                    if (auctions.length > 0)
                    {
                        for (let i = 0; i < auctions.length; i++)
                        {
                            if (auctions[i].messages.length > 0 && auctions[i].author == session.activeUser)
                            {
                                if (auctions[i].messages[auctions[i].messages.length-1].user != session.activeUser.split('@')[0])
                                {
                                    counter++;
                %>
                                <li>
                                    <a href="/auctions/show/<%= auctions[i]._id %>"><%= auctions[i].title %></a>
                                    <%
                                        let messagesAmount = 0;
                                        for (let x = auctions[i].messages.length-1; x >= 0; x--)
                                        {
                                            if (auctions[i].messages[x].user != session.activeUser.split('@')[0])
                                            {
                                                messagesAmount++;
                                            }
                                            else
                                            {
                                                break;
                                            }
                                        }
                                    %>
                                    (nowe wiadomości: <%= messagesAmount %>)
                                </li>
                <%
                                }
                                else
                                {
                                    counter++;
                %>
                                <li>
                                    <a href="/auctions/show/<%= auctions[i]._id %>"><%= auctions[i].title %></a>
                                </li>
                <%
                                }
                            }
                            else if (auctions[i].author == session.activeUser)
                            {
                                counter++;
                %>
                            <li>
                                <a href="/auctions/show/<%= auctions[i]._id %>"><%= auctions[i].title %></a>
                            </li>
                <%
                            }
                        }
                    }

                    if (counter == 0)
                    {
                %>
                        <li>
                            Nie masz żadnych aukcji, więc nie masz żadnych wiadomości.
                            Stwórz aukcję i oczekuj na wieści...
                        </li>
                <%
                    }
                %>
                </ul>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
