<% include ../partials/header %>

  <main id="mainContent">
    <h1 class="mainHeader">
      Przeglądaj <span class="appTitle">Swoje Aukcje</span>
    </h1>
    <div class="containter-fluid">
        <div class="row">

          <% include ../partials/menu %>

          <div class="col-sm-10">
              <%
                if (auctions.length > 0)
                {
              %>
              <div id="auctionList">
              <%
                  for (let i = 0; i < auctions.length; i++)
                  {
                      let auctionId;
                      for (let x = 0; x < auctions[i].bids.length; x++)
                      {
                          if (auctions[i].bids[x].email == session.activeUser)
                          {
                              auctionId = auctions[i]._id;
                          }
                      }

                      if (auctions[i].author == session.activeUser || auctions[i]._id == auctionId || auctions[i].buyer.email == session.activeUser)
                      {
              %>
                  <div class="col-sm-2 auction">
                      <!-- <img src="/images/auction.png" alt="Auction"> -->
                      <span class="auctionTitle">
                          <span class="glyphicon glyphicon-shopping-cart"></span>
                          <abbr title="<%= auctions[i].description ? auctions[i].description : 'Brak opisu.' %>">
                              <a href="/auctions/show/<%= auctions[i]._id %>"><%= auctions[i].title %></a>
                          </abbr>
                      </span>
                      <span class="auctionAuthor">
                          <abbr title="<%= auctions[i].author %>">
                              <%= auctions[i].author.split("@")[0] %>
                          </abbr>
                      </span>
                      <span class="auctionType"><%= auctions[i].type %></span>
                      <span class="auctionPrice price"><%= auctions[i].price %></span>
                      <span class="auctionCreateDate createDate"><%= auctions[i].createDate %></span>
                      <span class="auctionExpireDate expireDate"><%= auctions[i].expireDate %></span>
                      <span class="auctionIsAvailable isAvailable"><%= auctions[i].isAvailable %></span>
                      <!-- <span class="auctionDescription"><%= auctions[i].description %></span> -->
                      <%
                          if(auctions[i].buyer.hasOwnProperty("email"))
                          {
                              if(auctions[i].buyer.email != null && auctions[i].buyer.email != "")
                              {
                      %>
                              <span class="sold">SPRZEDANE!</span>
                      <%
                              }
                          }
                      %>
                  </div>
              <%
                  }
                }
              %>
              </div>
              <%
                } else {
              %>
                    <div class="col-sm-10 noAuctions">Nie znaleziono żadnych aukcji.</div>
              <%
                }
              %>
          </div>
        </div>
    </div>
    <%
        if (session.activeUser != null)
        {
    %>
        <form action="/auctions/create">
            <button id="addAuctionButton"
                    class="btn btn-success"
                    type="submit">
                <span class="glyphicon glyphicon-plus"></span>
                Dodaj nową aukcję
            </button>
        </form>
    <%
        }
    %>
  </main>

    <% include ../partials/footer %>
  </body>
</html>
