<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">
      <h1 class="mainHeader">
          Podgląd <span class="appTitle">Aukcji</span>
      </h1>

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-10">
                <div class="container">
                  <h1><%= auction.title %></h1>
                  <table>
                    <tbody>
                      <tr>
                        <td>Autor</td>
                        <td>:</td>
                        <td>
                            <abbr title="<%= auction.author %>">
                                <%= auction.author.split("@")[0] %>
                            </abbr>
                        </td>
                      </tr>
                      <tr>
                        <td>Typ</td>
                        <td>:</td>
                        <td><%= auction.type %></td>
                      </tr>
                      <tr>
                        <td>Cena</td>
                        <td>:</td>
                        <td class="price"><%= auction.price %></td>
                      </tr>
                      <tr>
                        <td>Data dodania</td>
                        <td>:</td>
                        <td class="createDate"><%= auction.createDate %></td>
                      </tr>
                      <tr>
                        <td>Data wygaśnięcia</td>
                        <td>:</td>
                        <td class="expireDate"><%= auction.expireDate %></td>
                      </tr>
                      <tr>
                        <td>Opis</td>
                        <td>:</td>
                        <td class="description"><%= auction.description %></td>
                      </tr>
                      <tr>
                        <td>Dostępny</td>
                        <td>:</td>
                        <td class="isAvailable"><%= auction.isAvailable %></td>
                      </tr>
                      <%
                          if (auction.buyer.email != null && auction.buyer.email != "")
                          {
                      %>
                          <tr>
                            <td>Nabywca</td>
                            <td>:</td>
                            <td>
                                <abbr title="<%= auction.buyer.email %>">
                                    <%= auction.buyer.email.split("@")[0] %>
                                </abbr>
                                (<span class="expireDate"><%= auction.buyer.date %></span>)
                            </td>
                          </tr>
                          <tr>
                              <%
                                  }
                                  if (auction.type == "Licytacja")
                                  {
                              %>
                                  <td>Oferty</td>
                                  <td>:</td>
                                  <td>
                                      <table>
                              <%

                                      if (auction.bids.length > 0)
                                      {
                                          for (let i = auction.bids.length-1; i >= 0; i--)
                                          {
                              %>
                                              <tr>
                                                  <td style="text-align:left;">
                                                      <abbr title="<%= auction.bids[i].email %>">
                                                          <%= auction.bids[i].email.split("@")[0] %>
                                                      </abbr>
                                                  </td>
                                                  <td class="createDate"><%= auction.bids[i].date %></td>
                                                  <td class="price" style="text-align:right;"><%= auction.bids[i].bid %></td>
                                              </tr>
                              <%
                                          }
                                      }
                                      else
                                      {
                              %>
                                      <tr>
                                          <td>
                                              Nikt nie licytował w tej aukcji.
                                          </td>
                                      </tr>
                              <%
                                      }
                                  }
                              %>
                                      </table>
                          </td>
                          </tr>
                    </tbody>
                  </table>
                  <%
                      if (session.activeUser != null)
                      {
                  %>
                      <form   id="sendMail"
                              action="/sendmail/<%= auction._id %>"
                              method="POST"
                              onsubmit="return confirm('Czy na pewno chcesz otrzymać powiadomienie mailowe o \'<%= auction.title %>\'?')">
                          <label for="mailType">Jak często?</label>
                          <select id="mailType" name="mailType" onchange="prepareOptions()">
                              <option value="once" selected>Jednorazowo</option>
                              <option value="multiple">Cyklicznie</option>
                          </select><br/>
                          <input id="now" type="radio" name="futureMail" value="0" required> <b>Teraz</b><br/>
                          <input type="radio" name="futureMail" value="5" required> <span class="freq">Za</span> <b>5 minut</b><br/>
                          <input type="radio" name="futureMail" value="15" required> <span class="freq">Za</span> <b>15 minut</b><br/>
                          <input type="radio" name="futureMail" value="30" required> <span class="freq">Za</span> <b>30 minut</b><br/>
                          <input type="radio" name="futureMail" value="60" required> <span class="freq">Za</span> <b>1 godzinę</b><br/>
                          <button id="remindButton"
                                  class="btn btn-primary"
                                  style="width:88%;"
                                  type="submit">
                              Wyślij przypomnienie!
                          </button>
                      </form>
                      <script>
                          let select = document.getElementById("mailType");
                          function prepareOptions()
                          {
                              let selected = select.options[select.selectedIndex].value;
                              let freqs = Array.from(document.getElementsByClassName("freq"));
                              if (selected == "once")
                              {
                                    document.getElementById("now").disabled = false;
                                    freqs.map((item, index) =>
                                    {
                                        item.innerHTML = "Za";
                                    });
                              }
                              else if (selected = "multiple")
                              {
                                    document.getElementById("now").disabled = true;
                                    document.getElementById("now").checked = false;
                                    freqs.map((item, index) =>
                                    {
                                        item.innerHTML = "Co";
                                    });
                              }
                          }
                          prepareOptions();
                      </script>
                  <%
                          if(session.activeUser == auction.author)
                          {
                              if((!auction.expireDate || auction.expireDate.getTime() >= new Date().getTime()) && auction.bids.length == 0)
                              {
                  %>
                                  <h3><a href="/auctions/edit/<%= auction._id%>">EDYTUJ</a></h3>
                                  <form   action="/auctions/delete/<%= auction._id%>"
                                          method="post"
                                          onsubmit="return confirm('Czy na pewno chcesz usunąć aukcję \'<%= auction.title %>\'?');">
                                      <button type="submit">USUŃ</button>
                                  </form>
                  <%
                              }
                          }
                          else if (auction.isAvailable && auction.type == "Kup teraz!")
                          {
                  %>
                          <form   action="/auctions/buy/<%= auction._id%>"
                                  method="post"
                                  onsubmit="return confirm('Czy na pewno chcesz kupić przedmiot \'<%= auction.title %>\'?');">
                              <button id="buyButton" class="buyButton btn btn-primary" type="submit">
                                  <span class="glyphicon glyphicon-credit-card"></span>
                                  Kup!
                              </button>
                          </form>
                  <%
                          }
                          else if (auction.isAvailable && auction.type == "Licytacja")
                          {
                  %>
                          <form   action="/auctions/bid/<%= auction._id%>"
                                  method="post"
                                  onsubmit="return confirm('Czy na pewno chcesz licytować przedmiot \'<%= auction.title %>\'?');">
                              <input type="number" name="bid" value="<%= auction.price+1 %>" min="<%= auction.price+1 %>" step="0.01" />
                              <button id="bidButton" class="buyButton btn btn-primary" type="submit">
                                  <span class="glyphicon glyphicon-credit-card"></span>
                                  Licytuj!
                              </button>
                          </form>
                          <%
                              if (auction.bids.length > 0)
                              {
                                  if (auction.bids[auction.bids.length-1].email == session.activeUser)
                                  {
                          %>
                                  <script>
                                      document.getElementById("bidButton").disabled = "true";
                                  </script>
                  <%
                                  }
                              }
                          }
                      }
                  %>
                </div>
                <%
                    if(session.activeUser != null)
                    {
                %>
                <div>
                    <% include ../partials/chat %>
                    <script src="/socket.io/socket.io.js"></script>
                    <script>
                      $(function()
                      {
                          var socket = io();
                          room =
                          {
                              id: "<%= auction._id %>",
                              name: "<%= auction.title %>",
                              user: "<%= session.activeUser.split('@')[0] %>"
                          };
                          socket.emit("room", room);

                          let messages = document.getElementById("messages");
                          messages.scrollTo(0,messages.scrollHeight);

                          let message;
                          $('#chatForm').submit(function()
                          {
                            let author = "<%= session.activeUser.split('@')[0] %>";
                            let content = $("#m").val();
                            let time = new Date();
                            message =
                            {
                                author: author,
                                room: room.name,
                                content: content,
                                time: time,
                                myColor:
                                {
                                    back: "lightblue",
                                    font: "navy"
                                },
                                theirColor:
                                {
                                    back: "wheat",
                                    font: "darkred"
                                }
                            };
                            if (message.content.replace(/\s/g, '').length > 0)
                            {
                                socket.emit('chat message', message);
                                $('#m').val('');
                            }
                            return false;
                          });
                          socket.on('chat message', function(msg)
                          {
                              let currentTime = new Date(msg.time);
                              let day = currentTime.getDate();
                              let month = currentTime.getMonth()+1;
                              let year = currentTime.getFullYear();
                              let hours = currentTime.getHours();
                              let minutes = currentTime.getMinutes();
                              let seconds = currentTime.getSeconds();

                              if (day < 10) day = '0' + day;
                              if (month < 10) month = '0' + month;
                              if (hours < 10) hours = '0' + hours;
                              if (minutes < 10) minutes = '0' + minutes;
                              if (seconds < 10) seconds = '0' + seconds;

                              currentTime = day + '-' + month + '-' + year + " " + hours + ":" + minutes + ":" + seconds;

                              let color;
                              if(msg.author == "<%= session.activeUser.split('@')[0] %>")
                              {
                                  color = msg.myColor;
                                  $('#messages').append($("<li style='background-color:" + color.back + ";'>").html("<span style='display:block'><b style='color:" + color.font + ";'>" + msg.author + ":</b> " + msg.content + "</span><span style='display:block;float:right;font-size:smaller;font-style:italic;'>Wysłano: " + currentTime + "</span>"));
                              }
                              else
                              {
                                  color = msg.theirColor;
                                  $('#messages').append($("<li style='background-color:" + color.back + ";'>").html("<span style='display:block'><b style='color:" + color.font + ";'>" + msg.author + ":</b> " + msg.content + "</span><span style='display:block;float:right;font-size:smaller;font-style:italic;'>Wysłano: " + currentTime + "</span>"));
                              }
                              messages.scrollTo(0,messages.scrollHeight);
                          });
                      });
                    </script>
                </div>
                <%
                    }
                %>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
