body {
  background-color: white;
}
body #strona {
  width: 95%;
  background-color: gainsboro;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
body #strona #menu {
  display: block;
  position: absolute;
  padding-top: 60px;
  background-color: silver;
  height: 88%;
  width: 80%;
}
body #strona #tresc {
  display: block;
  margin-left: 200px;
  padding-left: 50px;
  padding-right: 50px;
  border-left: 3px solid dimgray;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: gainsboro;
  position: fixed;
  max-height: 84.5%;
  margin-right: 3.5%;
  margin-top: 30px;
  overflow: auto;
}
.el_menu {
  display: block;
  text-align: center;
  margin-left: 5px;
  background-color: gainsboro;
  width: 80%;
  border: 1px solid black;
  width: 180px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 10px;
}
.el_menu a {
  text-decoration: none;
  color: gray;
}
span:hover {
  background-color: white;
  border-style: inset;
}
#naglowek {
  display: block;
  background-color: #a4a9a6;
  color: #434343;
  padding: 5px;
  width: 92.5%;
  position: fixed;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
  border-bottom: 1px solid black;
}
#stopka {
  display: block;
  background-color: #a4a9a6;
  color: #434343;
  padding: 5px;
  width: 92.5%;
  position: fixed;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
  border-top: 1px solid black;
  bottom: 15px;
}
.header-and-footer {
  display: block;
  background-color: #a4a9a6;
  color: #434343;
  padding: 5px;
  width: 92.5%;
  position: fixed;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
}
