html,
body {
  height: 100%;
  margin: 0px;
}
@media (max-width: 720px) {
  html,
  body {
    background-color: #cdcdcd;
  }
}
#all {
  margin: 0px;
  display: flex;
  min-height: 100%;
  height: auto !important;
  overflow: hidden !important;
}
@media (max-width: 720px) {
  #all {
    flex-direction: column;
    align-content: space-between;
    align-items: center;
  }
}
#all #menu {
  background-color: #b3b3b3;
}
@media (min-width: 961px) {
  #all #menu {
    width: 200px;
    flex-shrink: 0;
  }
}
@media (max-width: 960px) and (min-width: 721px) {
  #all #menu {
    width: 150px;
  }
}
@media (max-width: 720px) {
  #all #menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 721px) {
  #all #menu p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top: 1px solid #747474;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #747474;
  }
}
@media (max-width: 720px) {
  #all #menu p {
    width: 65px;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: smaller;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border: 0px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 1.5px;
    margin-right: 1.5px;
  }
}
#all #main {
  width: 100%;
  background-color: #cdcdcd;
}
@media (max-width: 720px) {
  #all #main {
    min-height: 100% !important;
    height: 100%;
  }
}
#all #main h1,
#all #main h2,
#all #main p {
  margin: 20px;
}
.border1 {
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top: 1px solid #747474;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #747474;
}
.border2 {
  background-color: white;
  border: 0px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
