body {
  background-color: silver;
}
#menu {
  background-color: #e8e8e8;
  border: 3px outset black;
  text-align: center;
  padding: 5px;
  margin-left: -8px;
  margin-top: -8px;
  width: 100%;
}
#menu .el_menu {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
#menu .el_menu :link {
  color: brown;
  text-decoration: none;
  border: 1px outset black;
  padding: 2.5px;
}
#menu .el_menu :hover {
  border-style: inset;
  background-color: white;
}
#menu .el_menu :visited {
  color: maroon;
}
#tresc {
  margin-top: 25px;
}
