body {
  background-color: lightgray;
}
.C {
  position: relative;
  background-color: wheat;
  border: 3px solid red;
  width: 415px;
  height: 75px;
  padding-top: 15px;
  margin: 0 auto;
  top: 40vh;
}
.A {
  position: relative;
  left: 35px;
}
.B {
  position: relative;
  left: 35px;
  bottom: 35px;
}
