// out: zad_04.css

@color: black;

body {
  background-color: lighten(@color, 85%);;

  #menu {
    .block-and-center;
    position: absolute;
    padding-top: 40px;

    .el_menu {
      .block-and-center;
      margin-left: 5px;
      background-color: white;
      width: 80%;
      border: 1px solid @color;
      width: 180px;
      padding-top: 1px;
      padding-bottom: 1px;

      a {
        text-decoration: none;
        color: maroon;
      }
    }
  }

  #tresc {
    display: block;
    margin: 0px 50px 0px 200px;
    padding-left: 50px;
    border-left: 3px solid lighten(@color, 60%);
    padding-top: 30px;
    padding-bottom: 30px;

    #naglowek {
      .header-and-footer;
      border-bottom: 1px solid @color;
      margin-top: -38px;
    }

    #stopka {
      .header-and-footer;
      border-top: 1px solid @color;
      margin-top: -15px;
      bottom: 0px;
    }
  }
}

.block-and-center {
  display: block;
  text-align: center;
}

.header-and-footer {
  display: block;
  background-color: lighten(@color, 75%);
  color: dimgray;
  padding: 5px;
  width: 500px;
  position: fixed;
  margin-left: -263px;
  text-indent: 10px;
}
