body {
  background-color: #d9d9d9;
}
body #menu {
  display: block;
  text-align: center;
  position: absolute;
  padding-top: 40px;
}
body #menu .el_menu {
  display: block;
  text-align: center;
  margin-left: 5px;
  background-color: white;
  width: 80%;
  border: 1px solid black;
  width: 180px;
  padding-top: 1px;
  padding-bottom: 1px;
}
body #menu .el_menu a {
  text-decoration: none;
  color: maroon;
}
body #tresc {
  display: block;
  margin: 0px 50px 0px 200px;
  padding-left: 50px;
  border-left: 3px solid #999999;
  padding-top: 30px;
  padding-bottom: 30px;
}
body #tresc #naglowek {
  display: block;
  background-color: #bfbfbf;
  color: dimgray;
  padding: 5px;
  width: 500px;
  position: fixed;
  margin-left: -263px;
  text-indent: 10px;
  border-bottom: 1px solid black;
  margin-top: -38px;
}
body #tresc #stopka {
  display: block;
  background-color: #bfbfbf;
  color: dimgray;
  padding: 5px;
  width: 500px;
  position: fixed;
  margin-left: -263px;
  text-indent: 10px;
  border-top: 1px solid black;
  margin-top: -15px;
  bottom: 0px;
}
.block-and-center {
  display: block;
  text-align: center;
}
.header-and-footer {
  display: block;
  background-color: #bfbfbf;
  color: dimgray;
  padding: 5px;
  width: 500px;
  position: fixed;
  margin-left: -263px;
  text-indent: 10px;
}
