<div id="chat">
    <%
        if (auction.messages.length > 0)
        {
    %>
        <ul id="messages">
    <%
            let myColor = { back: "lightblue", font: "navy" };
            let theirColor  = { back: "wheat", font: "darkred" };

            for (let i = 0; i < auction.messages.length; i++)
            {
    %>
    <%
            if (auction.messages[i].user == session.activeUser.split('@')[0])
            {
    %>
            <li style="background-color:<%= myColor.back %>;">
                <span style='display:block;'>
                        <b style='color:<%= myColor.font %>;'>
                            <%= auction.messages[i].user %>:
                        </b>
    <%
                        }
                        else
                        {
    %>
            <li style="background-color:<%= theirColor.back %>;">
                <span style='display:block;'>
                        <b style='color:<%= theirColor.font %>;'>
                            <%= auction.messages[i].user %>:
                        </b>
    <%
                        }
    %>
                    <%= auction.messages[i].content %>
                </span>
                <span style='display:block;float:right;font-size:smaller;font-style:italic;'>
                    <%
                        let currentTime = new Date(auction.messages[i].time);
                        let day = currentTime.getDate();
                        let month = currentTime.getMonth()+1;
                        let year = currentTime.getFullYear();
                        let hours = currentTime.getHours();
                        let minutes = currentTime.getMinutes();
                        let seconds = currentTime.getSeconds();

                        if (day < 10) day = '0' + day;
                        if (month < 10) month = '0' + month;
                        if (hours < 10) hours = '0' + hours;
                        if (minutes < 10) minutes = '0' + minutes;
                        if (seconds < 10) seconds = '0' + seconds;

                        currentTime = day + '-' + month + '-' + year + " " + hours + ":" + minutes + ":" + seconds;
                    %>
                    Wysłano: <%= currentTime %>
                </span>
            </li>
    <%
            }
    %>
        </ul>
    <%
        }
        else
        {
    %>
        <ul id="messages"></ul>
    <%
        }
    %>
    <form id="chatForm" action="">
        <input id="m" autocomplete="off" />
        <button id="sendButton">
            <span class="glyphicon glyphicon-envelope"></span>
            Send
        </button>
    </form>
</div>
