<!-- footer section -->
<footer>
    <span class="glyphicon glyphicon-copyright-mark"></span>
    Mariusz Mazepa 2018
    <button id="scrollTop" title="Go to top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </button>
    <span id="clock" style="float:right;margin-right:50px;">00:00:00</span>
</footer>
