<div class="col-sm-2">
    <div id="homepage" class="menuElement">
        <span class="glyphicon glyphicon-record"></span>
        Strona główna
    </div>
    <div id="auctions" class="menuElement">
        <span class="glyphicon glyphicon-record"></span>
        Wszystkie Aukcje
    </div>
    <div id="myAuctions" class="menuElement">
        <span class="glyphicon glyphicon-record"></span>
        Moje Aukcje
    </div>
    <div id="signup" class="menuElement">
        <span class="glyphicon glyphicon-record"></span>
        Rejestracja
    </div>
    <div id="profile" class="menuElement">
        <span class="glyphicon glyphicon-record"></span>
        Profil
    </div>
    <div id="messageBox" class="menuElement">
        <span class="glyphicon glyphicon-record"></span>
        <%
            if(session.newMessagesAmount > 0)
            {
        %>
            <b>Wiadomości (<%= session.newMessagesAmount %>)</b>
        <%
            }
            else
            {
        %>
            Wiadomości
        <%
            }
        %>
    </div>
    <script>
    <%
        if (session.activeUser == null)
        {
    %>
            document.getElementById("profile").style.display = "none";
            document.getElementById("messageBox").style.display = "none";
            document.getElementById("myAuctions").style.display = "none";
    <%
        }
        else
        {
    %>
            document.getElementById("signup").style.display = "none";
    <%
        }
    %>
    </script>
</div>
