// out: ./main.min.css, compress: true

@channel-padding: 8px;
@channel-border-size: 2px;
@message-padding: 8px;
@general-width: 500px;

@color: darken(forestgreen, 15%);

.add-borders {
  border-bottom: solid 1px gray;
  &:last-of-type {
    border-bottom: none;
  }
}

.max-size {
  width: 100%;
  height: 100%;
}

html, body {
    margin: 0;
    .max-size;

    @media (min-width: 800px)
    {
      background-color: silver;
      #username:after
      {
        content: " (desktop user)";
      }
    }

    @media (max-width: 800px)
    {
      background-color: lightblue;
      #username:after
      {
        content: " (mobile user)";
      }
    }
}

.flexbox {
  .max-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
  }

  .container
  {
    border: 1px solid black;
    background-color: whitesmoke;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #username {
    font-weight: bold;
    font-style: italic;
  }

  #channel-buttons
  {
    margin-bottom: 20px;
  }

  ul#channel-list {
    list-style-type: none;
    overflow: auto;
    @media (min-width: 800px)
    {
      width: @general-width;
    }
    @media (max-width: 800px)
    {
      width: @general-width/2;
    }
    .frames;

    li.channel {
      margin: 0 auto;
      padding: @channel-padding;
      cursor: default;
      background-color: lighten(@color, 60%);
      margin-left: -40px;

      &:nth-child(odd) {
        background-color: lighten(@color, 50%);
      }

      .status {
        color: lighten(@color, 10%);
        font-weight: bold;
        display: block;
        text-align: right;
        font-size: 24px;
      }
    }

    li.channel-selected {
      border: solid @channel-border-size @color !important;
      padding: (@channel-padding)-(@channel-border-size);
    }
  }

  #chat-window {
    display: none;
    margin-top: 20px;

    ul#messages-list {
      list-style-type: none;
      overflow: auto;
      .frames;
      @media (min-width: 800px)
      {
        max-width: @general-width;
      }
      @media (max-width: 800px)
      {
        max-width: @general-width/2;
      }
      word-break: break-all;

      li.message-item {
        margin: 0 auto;
        padding: @message-padding;
        .add-borders;
        margin-left: -40px;
        @media (min-width: 800px)
        {
          max-width: @general-width + @message-padding*2;
        }
        @media (max-width: 800px)
        {
          max-width: (@general-width + @message-padding*2)/2;
        }

        .sender {
          &:after {
            content: ":";
          }
        }

        .time {
          font-style: italic;
          display: block;
          text-align: right;
          font-size: 10px;
          // margin-top: -10px;
        }
      }
      .my-message {
        .sender {
          font-weight: bold;
          color: darkblue;
        }
        background-color: lighten(blue, 40%);
      }
      .their-message {
        .sender {
          font-weight: bold;
          color: darkred;
        }
        background-color: lighten(red, 40%);
      }
    }

    #send-message
    {
      height: 50px;
      width: 100%;
      background-color: lighten(silver, 10%);
      border-top: 1px solid black;
      margin-top: -17px;
      #send-message-form
      {
        float: left;
        margin-left: 10px;
        width: 70%;
        #send-message-input
        {
          width: 100%;
          margin-top: 10px;
        }
      }
      #send-message-button
      {
        float: right;
        width: 15%;
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }
}

button
{
  background-color: @color;
  color: whitesmoke;
  width: 100px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.frames
{
  min-height: 150px;
  max-height: 150px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lighten(@color, 70%);
}
