// out: ../../public/css/style.css, compress: true

@color: darken(darkviolet, 15%);
@color2: darken(forestgreen, 15%);
@generalWidth: 550px;
@headerAndFooter: 50px;

@import "substyles/buttons.less";
@import "substyles/chat.less";
@import "substyles/crud.less";
@import "substyles/main.less";

html
{
  body
  {
    position: relative;
    min-height: 100%;
    #mainContent
    {
      padding-top: @headerAndFooter + 10px;
      padding-bottom: @headerAndFooter + 25px;;
    }
    main
    {
      .containter-fluid
      {
        width: 100%;
        .row
        {
          box-shadow: 5px 5px 2.5px darken(@color2, 20%);
          background-color: lighten(@color2, 15%);
          .col-sm-2
          {
            box-shadow: 5px 5px 2.5px darken(@color2, 10%);
            margin-top: 10px;
            background-color: lighten(@color2, 5%);
            color: whitesmoke;
            margin-bottom: 10px;
            .menuElement
            {
              padding: 3px;
              .glyphicon
              {
                font-size: smaller;
              }
              &:hover
              {
                background-color: lighten(@color2, 50%);
                color: lighten(@color2, 5%);
                box-shadow: 5px 5px 2.5px darken(@color2, 15%);
                cursor: pointer;
              }
            }

            img
            {
              width: 100%;
              background-color: whitesmoke;
              border: 1px solid black;
              margin-bottom: 5px;
              border-radius: 2.5px;
            }

            .auctionTitle, .auctionAuthor, .auctionType, .auctionPrice,
            .auctionCreateDate, .auctionDuration, .auctionExpireDate,
            .auctionIsAvailable, .sold
            {
              font-size: smaller;
              display: block;
            }

            .auctionTitle
            {
              font-weight: bold;
              a
              {
                color: @color2;
                text-shadow: 1px 1px lighten(@color2, 15%);
                &:hover
                {
                  color: darken(@color2, 15%);
                }
              }
            }
            .auctionAuthor
            {
              word-wrap: break-word;
              color: navy;
              &:before
              {
                content: "Autor: ";
                .befores;
              }
            }
            .auctionType
            {
              font-weight: bold;
              color: darkred;
            }
            .auctionPrice
            {
              font-size: 12px;
              color: darken(dimgray, 15%);
              font-weight: bold;
              &:before
              {
                content: "Cena: ";
                .befores;
              }
            }
            .auctionCreateDate
            {
              &:before
              {
                content: "Od: ";
                .befores;
              }
            }
            .auctionExpireDate
            {
              &:before
              {
                content: "Do: ";
                .befores;
              }
            }
            .auctionIsAvailable
            {
              font-size: 12px;
              &:before
              {
                content: "Dostępny: ";
                .befores;
              }
            }
            .sold
            {
              font-weight: bold;
              color: navy;
            }

            .buyButton
            {
              .colors(black, whitesmoke);
              transition: 0.5s;
              font-size: smaller;
              .size(100%, 25px);
              padding-top: 0px;
              padding-bottom: 0px;

              &:hover
              {
                .colors(whitesmoke, black);
                transition: 0.5s;
              }
            }
          }
          .col-sm-10
          {
            .noAuctions
            {
              text-align: center;
              font-weight: bold;
              font-size: 24px;
              color: @color2;
              box-shadow: none;
              line-height: 150px;
            }

            box-shadow: 5px 5px 2.5px darken(@color2, 20%);
            margin-top: 10px;
            background-color: lighten(@color2, 50%);
            #pageNumber
            {
              .colorsNoBorder(lighten(@color2, 20%), whitesmoke);
              font-weight: bold;
              text-align: center;
              padding: 5px;
            }
            .col-sm-1
            {
              @media only screen and (min-width: 768px)
              {
                margin-top: 15%;
              };
              @media only screen and (max-width: 768px)
              {
                width: 100%;
              };
              .colorsNoBorder(tomato, darkred);
              height: 50px;
              line-height: 50px;
              &:hover
              {
                .colorsNoBorder(darkred, tomato);
              }
              &:first-child
              {
                text-align: left;
              }
              &:last-child
              {
                text-align: right;
              }
              &:disabled
              {
                .colors(gray, silver);
                cursor: not-allowed;
              }
            }
            .col-sm-2
            {
              background-color: lighten(@color2, 40%);
              color: black;
            }
            .auction
            {
              &:hover
              {
                background-color: lighten(@color2, 30%);
              }
            }
          }
        }
      }
    }
  }
}

.befores
{
  font-size: 10px;
  color: black;
  font-weight: normal;
}

.activeMenuOption
{
  .colorsNoBorder(lighten(@color2, 40%), darken(@color2, 10%));
  box-shadow: 5px 5px 2.5px darken(@color2, 10%);
}

#sendMail
{
  border: 1px solid silver;
  background-color: darken(whitesmoke, 15%);
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 10px;

  input
  {
    width: 50%;
  }

  #remindButton
  {
    width: 100% !important;
  }

  label, select
  {
    width: 49%;
  }

  label
  {
    text-indent: 20%;
  }
}
