// out: zad_07f.css

@max: 100%;
@sides: 9%;
@half: 40%;
@a: auto;
@top: 12.5%;

@color1: gray;
@color2: silver;
@color3: whitesmoke;
@color4: black;

body {
  width: @max;
  height: @max;
  .centerMain;
}

#banner, #stopka {
  background-color: @color1;
  .size(82%,10%);
  .bordered;
  .center;
  .absoluteCenter;
}

#stopka {
  bottom: 5%;
}

.absoluteCenter{
  position: absolute;
  left: @sides;
  right: @sides;
}

#menu {
  background-color: @color2;
  .size(20%,@half);
  .bordered;
  .center;
  float: left;
  margin-left: @sides;
  .absoluteTop;
  left: 0;
}

#panel {
  background-color: @color2;
  .size(20%,45%);
  .bordered;
  .center;
  float: right;
  margin-right: @sides;
  .absoluteTop;
  right: 0;
}

#tresc {
  background-color: @color3;
  .size(40%,68%);
  .bordered;
  .center;
  float: left;
  margin-left: 0.8%;
  margin-bottom: 10%;
  .absoluteTop;
  left: 29%;
}

.absoluteTop {
  position: absolute;
  top: @top;
}

.bordered {
  border: 1px solid @color4;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.centerMain {
  position: fixed;
  top: @half;
  left: @half;
  transform: translate(-@half, -@half);
}

.center {
  margin-left: @a;
  margin-right: @a;
  margin-top: 10px;
}
