// out: zad_07a.css

@max: 100%;
@sides: 9%;
@top: 12.5%;
@half: 50%;
@a: auto;

@color1: gray;
@color2: silver;
@color3: whitesmoke;
@color4: black;

body {
  width: @max;
  height: @max;
  .centerMain;
}

#banner {
  background-color: @color1;
  .size(82%,10%);
  .bordered;
  .center;
  position: absolute;
  left: @sides;
  right: @sides;
}

#menu {
  background-color: @color2;
  .size(21%,@half);
  .bordered;
  .center;
  float: left;
  margin-left: @sides;
  position: absolute;
  top: @top;
}

#tresc {
  background-color: @color3;
  .size(59.5%,75%);
  .bordered;
  .center;
  float: right;
  margin-right: @sides;
  position: absolute;
  left: 31.5%;
  top: @top;
  bottom: @top;
}

.bordered {
  border: 1px solid @color4;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.centerMain {
  position: fixed;
  top: @half;
  left: @half;
  transform: translate(-@half, -@half);
}

.center {
  margin-left: @a;
  margin-right: @a;
  margin-top: 10px;
}
