body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner {
  background-color: gray;
  width: 82%;
  height: 10%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: absolute;
  left: 9%;
  right: 9%;
}
#menu {
  background-color: silver;
  width: 20%;
  height: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: left;
  margin-left: 9%;
  position: absolute;
  left: 0;
  top: 12.5%;
}
#panel {
  background-color: silver;
  width: 20%;
  height: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: right;
  margin-right: 9%;
  position: absolute;
  right: 0;
  top: 12.5%;
}
#tresc {
  background-color: whitesmoke;
  width: 40%;
  height: 75%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  float: left;
  margin-left: 30%;
  position: absolute;
  left: 0;
  top: 12.5%;
}
.bordered {
  border: 1px solid black;
}
.centerMain {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
