// out: zad_06.css

@color: dimgray;

body {
  background-color: @color;
}

#okno {
  width: 80%;
  height: 95%;
  background-color: lighten(@color, 40%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#menu {
  display: block;
  width: 200px;
  float: left;
  text-align: center;
}

span {
  display: block;
  text-align: center;
  margin-left: 5px;
  background-color: lighten(@color, 50%);
  width: 80%;
  border: 1px solid darken(@color, 30%);
  width: 180px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 10px;
  border-left-color: @color;
  border-top-color: @color;

  a {
    text-decoration: none;
    color: darken(@color, 25%);
  }
}

.el_menu:hover {
  background-color: white;
  border-style: inset;
}

#tresc {
  display: block;
  margin-left: 200px;
  padding-left: 50px;
  padding-right: 50px;
  border-left: 3px solid @color;
  padding-bottom: 30px;
  background-color: lighten(@color, 55%);
  max-height: 75%;
  overflow: auto;
}

#naglowek {
  border: 1px solid darken(@color, 25%);
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  .header-and-footer;
  border-bottom: 1px solid darken(@color, 25%);
  padding-top: 15px;
}

img {
    padding: 5px;
}

#autor {
  text-align: left;
  width: 100%;
  margin-left: -1px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: smaller;
  text-indent: 10px;
  background-color: lighten(@color, 30%);
}

#stopka {
  .header-and-footer;
  border-top: 1px solid darken(@color, 25%);
  bottom: 15px;
  background-color: lighten(@color, 30%);
}

.header-and-footer {
  display: block;
  color: @color;
  padding: 5px;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
  text-align: center;
}
