body {
  background-color: dimgray;
}
#okno {
  width: 80%;
  height: 95%;
  background-color: #cfcfcf;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#menu {
  display: block;
  width: 200px;
  float: left;
  text-align: center;
}
span {
  display: block;
  text-align: center;
  margin-left: 5px;
  background-color: #e9e9e9;
  width: 80%;
  border: 1px solid #1c1c1c;
  width: 180px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 10px;
  border-left-color: dimgray;
  border-top-color: dimgray;
}
span a {
  text-decoration: none;
  color: #292929;
}
.el_menu:hover {
  background-color: white;
  border-style: inset;
}
#tresc {
  display: block;
  margin-left: 200px;
  padding-left: 50px;
  padding-right: 50px;
  border-left: 3px solid dimgray;
  padding-bottom: 30px;
  background-color: #f5f5f5;
  max-height: 75%;
  overflow: auto;
}
#naglowek {
  border: 1px solid #292929;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: dimgray;
  padding: 5px;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
  text-align: center;
  border-bottom: 1px solid #292929;
  padding-top: 15px;
}
img {
  padding: 5px;
}
#autor {
  text-align: left;
  width: 100%;
  margin-left: -1px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: smaller;
  text-indent: 10px;
  background-color: #b5b5b5;
}
#stopka {
  display: block;
  color: dimgray;
  padding: 5px;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
  text-align: center;
  border-top: 1px solid #292929;
  bottom: 15px;
  background-color: #b5b5b5;
}
.header-and-footer {
  display: block;
  color: dimgray;
  padding: 5px;
  margin-left: 0;
  text-indent: 10px;
  z-index: 1;
  text-align: center;
}
