// out: zad_03.css

@pixels: 100px;

body {
  background-color: silver;

  #menu {
    .block-and-center;
    position: absolute;
    width: 20%;
    margin-top: @pixels / 5;

    .el_menu {
      .block-and-center;
    }
  }

  #tresc {
    display: block;
    margin-left: 2 * @pixels;
    margin-right: @pixels;
    padding-left: @pixels / 2;
    border-left: 3px solid black;
  }
}

.block-and-center {
  display: block;
  text-align: center;
}
