body {
  background-color: silver;
}
body #menu {
  display: block;
  text-align: center;
  position: absolute;
  width: 20%;
  margin-top: 20px;
}
body #menu .el_menu {
  display: block;
  text-align: center;
}
body #tresc {
  display: block;
  margin-left: 200px;
  margin-right: 100px;
  padding-left: 50px;
  border-left: 3px solid black;
}
.block-and-center {
  display: block;
  text-align: center;
}
