html
{
  body
  {
    header
    {
      #loginButton
      {
        .buttonDecoration(darkgreen, whitesmoke);
        margin-top: -40px;
      }
      #signupButton
      {
        .buttonDecoration(darkblue, whitesmoke);
        margin-top: -40px;
      }
      #logoutButton
      {
        .buttonDecoration(darkred, whitesmoke);
        a
        {
          text-decoration: none;
          color: white;

          &:hover
          {
            color: darkred;
          }
        }
      }
    }

    #signupFrame
    {
      .text-center
      {
        #signupButton
        {
          .buttonDecoration(darkblue, whitesmoke);
        }
        #backButton
        {
          .buttonDecoration(darkgoldenrod, whitesmoke);
        }
      }
    }

    main
    {
      #addAuctionButton
      {
        margin-top: 10px;
        .colors(darken(@color, 15%), whitesmoke);
        transition: 0.5s;

        &:hover
        {
          .colors(whitesmoke, darken(@color, 15%));
          transition: 0.5s;
        }
      }
    }
  }
}

.buttonDecoration(@back, @front)
{
  .colors(@back, @front);
  .size(100px, 30px);
  padding: 3px;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.5s;

  &:hover
  {
    .colors(@front, @back);
    transition: 0.5s;
  }
}
