#chat
{
  border: 3px solid black;
  background-color: silver;
  min-height: 200px;
  max-height: 200px;
}

form
{
  input
  {
    border: 1px solid black;
    padding: 10px;
    width: 70%;
    margin-right: .5%;
  }
  #sendButton
  {
    width: 28%;
    background-color: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }
}


#messages
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
}

#messages li
{
  padding: 5px 10px;
  padding-bottom: 25px;
}

#messages li
{
  border-bottom: 1px solid dimgray;
}
