// --- CRUD STYLING ----------

a
{
  color: #00B7FF;
  &:hover
  {
    color: darken(#00B7FF, 25%);
  }
}

.container
{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #555555;
  max-width: 100%;
  padding: 20px;
  background-color: #efefef;
  border-radius: 6px;
  margin: 25px auto;
  text-align: center;
}

.container
{
  h3
  {
    a
    {
      text-decoration: none;
      padding: 10px 20px;
      background-color: #00AE4D;
      border-radius: 6px;
      color: #FFFFFF;

      &:hover
      {
        background-color: #78F5AE;
        color: @color2;
      }
    }
  }
  table
  {
    margin-left: auto;
    margin-right: auto;
    tr
    {
      td
      {
        button
        {
          &:hover
          {
            background-color: #78F5AE;
            color: #999999;
          }
        }
      }
      &:hover
      {
        background-color: lighten(#555555, 20%);
        color: #efefef;
      }
    }
  }
}

.container table tr td
{
  padding: 5px;
}

.container table tr td input, .container table tr td textarea
{
  border: solid 1px #dddddd;
  padding: 5px 10px;
  border-radius: 6px;
  width: 100%;
  color: #777777;
}

.container table tr td select
{
  width: 100%;
  color: dimgray;
}

.container table tr td button
{
  border: solid 1px #AABF5C;
  background-color: #00AE4D;
  border-radius: 6px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0;
  padding: 10px 20px;
}

.container form button
{
  border: solid 1px #CB2027;
  background-color: #DD4B39;
  border-radius: 6px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0;
  padding: 10px 20px;
}

.container .list-table
{
  width: 360px;
  border: solid 2px #DDDDDD;
  border-spacing: 0;
}

.container .list-table th
{
  border-bottom: solid 2px #DDDDDD;
}
