.maxSize
{
  .size(100%, 100%);
}

html
{
  .maxSize;
  box-sizing: border-box;
  body
  {
    width: 100%;
    background-color: @color;
    margin: 0 auto;

    header, footer
    {
      background-color: black;
      color: whitesmoke;
      text-align: center;
      .size(100%, @headerAndFooter);
      line-height: @headerAndFooter;
    }

    header
    {
      position: absolute;
      top: 0px;
      border-bottom: 3px solid whitesmoke;

      #loginPanel
      {
        .myCol
        {
          display: inline-block;
          width: 22.5%;
          margin: 0 auto;

          .glyphicon
          {
            font-size: smaller;
          }

          .form-group, .input-group
          {
            padding: 0px;
            margin: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }

        input
        {
          font-size: smaller;
          .size(80%, 30px);
          background-color: whitesmoke;
          color: black;
          transition: 0.5s;

          &:focus
          {
            background-color: darken(whitesmoke, 10%);
            border-color: green;
            color: darkgreen;
            transition: 0.5s;
          }
        }
      }
    }

    footer
    {
      position: absolute;
      bottom: 0;
      border-top: 3px solid whitesmoke;

      #scrollTop
      {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        border: none;
        outline: none;
        .colorsNoBorder(darkred, whitesmoke);
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
        font-size: 18px;
        .size(50px, 50px);
        &:hover
        {
          .colorsNoBorder(red, wheat);
        }
      }
    }

    #signupFrame
    {
      .colorsNoBorder(lighten(@color2, 67.5%), lighten(black, 15%));
      .horizontalCenter;
      .text-center
      {
        padding-top: 10px;
        padding-bottom: @headerAndFooter/2;
        .horizontalCenter;
        .colorsNoBorder(@color2, whitesmoke);
        input
        {
          color: black;
        }
      }
    }

    #profileContainer
    {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    #profileRow
    {
      height: 130px;
      max-width: 500px;
      margin: 0 auto;
      display: block;
      text-align: center;
      .colors(lighten(@color, 65%), black);
      box-shadow: 5px 5px 2.5px black;
      margin-bottom: 25px;

      #profileImage, #profileInfo
      {
        display: block;
      }

      #profileImage
      {
        float: left;
        padding: 10px;
        img
        {
          border: 3px outset black;
          background-color: whitesmoke;
          padding: 3px;
        }
      }

      #profileInfo
      {
        height: 100px;
        margin-top: 50px;

        #profileId, #profileEmail
        {
          display: block;
          font-size: 12px;
        }
      }
    }

    main
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      .colorsNoBorder(lighten(@color, 65%), black);
      padding: 25px;
      min-height: 100vh;

      .myAlert
      {
        display: block;
        width: 100%;
        padding: 2.5px;
        color: darkred;
        text-align: center;
      }

      .mainHeader
      {
        text-align: center;
        .appTitle
        {
          font-weight: bold;
          font-style: italic;
          color: darken(@color, 5%);
        }
      }
    }
  }
}

.size(@width, @height)
{
  width: @width;
  height: @height;
}

.maxMinSize(@width, @height)
{
  min-width: @width;
  max-width: @width;
  max-height: @height;
}

.colors(@back, @front)
{
  .colorsNoBorder(@back, @front);
  border: 3px outset @front;
}

.colorsNoBorder(@back, @front)
{
  background-color: @back;
  color: @front;
}

.horizontalCenter
{
  margin-left: auto;
  margin-right: auto;
}
