// out: zad_01.css

@box_edge: 50px;
@color: dimgray;
@pos_fix: fixed;

#outer {
  .flexing(center);
  flex-direction: column;
  position: @pos_fix;
  .position(0,0,0,0);
  .size(100%,100%);

  :nth-child(1) {
    .bg_color(@color);
    align-self: flex-start;
    position: @pos_fix;
    top: 0;
  }

  :nth-child(2) {
    .bg_color(lighten(@color,20%));
  }

  :nth-child(3) {
    .bg_color(lighten(@color,35%));
    align-self: flex-end;
    position: @pos_fix;
    bottom: 0;
  }

  .box {
    .size(@box_edge,@box_edge);
    color: lighten(@color,75%);
    font-weight: bold;
    .flexing(center);
  }
}

.flexing(@align) {
  display: flex;
  align-items: @align;
  justify-content: @align;
}

.size(@width,@height){
  width: @width;
  height: @height;
}

.position(@top, @left, @right, @bottom) {
  top: @top;
  left: @left;
  right: @right;
  bottom: @bottom;
}

.bg_color(@bg_color) {
  background-color: @bg_color;
}
