#outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#outer :nth-child(1) {
  background-color: dimgray;
  align-self: flex-start;
  position: fixed;
  top: 0;
}
#outer :nth-child(2) {
  background-color: #9c9c9c;
}
#outer :nth-child(3) {
  background-color: #c2c2c2;
  align-self: flex-end;
  position: fixed;
  bottom: 0;
}
#outer .box {
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
