// out: zad_07.css

@pixels: 35px;

body {
  background-color: lightgray;
}

.C {
  position: relative;
  top: 10px;
}

.A {
  position: relative;
  left: @pixels;
}

.B {
  position: relative;
  left: @pixels;
  bottom: @pixels;
}
