// out: zad_02.css

@color: silver;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#all {
  .flex(flex, row);
  align-items: stretch;
  height: 100%;
}

#menu {
  background-color: @color;
  .flex(flex, column);
  .menu_width(30vh);
  text-align: center;

  :first-child {
    margin-top: 50px;
  }

  p {
    background-color: lighten(@color,17.5%);
    width: 20vh;
    margin: 3px auto;
    border: 1px inset darken(@color,30%);
    border-left: 5px solid darken(@color,30%);
    border-top-left-radius: 15%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

#main {
  background-color: lighten(@color,7.5%);
  padding-left: 25px;
  padding-right: 25px;
}

.menu_width(@width) {
  width: @width;
  min-width: @width;
  max-width: @width;
}

.flex (@display, @direction) {
  display: @display;
  flex-direction: @direction;
}
