html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#all {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}
#menu {
  background-color: silver;
  display: flex;
  flex-direction: column;
  width: 30vh;
  min-width: 30vh;
  max-width: 30vh;
  text-align: center;
}
#menu :first-child {
  margin-top: 50px;
}
#menu p {
  background-color: #ededed;
  width: 20vh;
  margin: 3px auto;
  border: 1px inset #747474;
  border-left: 5px solid #747474;
  border-top-left-radius: 15%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#main {
  background-color: #d3d3d3;
  padding-left: 25px;
  padding-right: 25px;
}
