// out: zad_06.css

ul {
  list-style-type: decimal;
  color: red;
  li ul {
    list-style-type: lower-latin;
    color: green;
    li ul {
      list-style-type: disc;
      color: blue;
    }
  }
}
